* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
}

.title {
    margin: 0 auto;
    padding: 22px 0;
    font-size: 28px;
    font-weight: bold;
    color: #444444;
    text-align: center;
}

.content {
    background-color: #eeeeee;
    padding: 20px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.survey-link {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #4444ff;
}

.link-button {
    display: inline-block;
    background-color: #444444;
    margin: 24px 0;
    padding: 8px 12px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.link-button:hover {
    background-color: #222222;
}

.pretest-image {
    display: block;
    margin: 18px 0;
    max-width: 200px;
    height: auto;
}

.survey-code {
    background-color: #eeeeee;
    padding: 20px 12px;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    text-align: center;
}

.book-question {
    position: relative;
    background-color: #eeeeee;
    padding: 8px 8px;
    margin-bottom: 12px;
    display: flex;
    flex-flow: row nowrap;
}

.book-question-shade {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shade-text {
    flex: 0 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.text-column {
    flex: 1 1 auto;
}

.genre {
    padding: 4px 0;
    font-size: 14px;
    color: #444444;
}

.content-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 8px 8px;
    height: 250px;
    overflow-y: auto;
}

.booktitle {
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    white-space: pre-wrap;
}

.form-column {
    flex: 0 0 400px;
    padding: 0 12px;
}

.form-section-title {
    padding: 4px 0;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
}

.form-sub-section-title {
    padding: 4px 0;
    font-size: 12px;
    color: #444444;
}

.form-section-description {
    padding: 2px 0;
    font-size: 12px;
    color: #666666;
}

.indented-content {
    padding-left: 20px;
}

.palette {
    padding: 8px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.color-cell {
    flex: 0 0 50px;
    margin: 0 6px;
}

.color-square {
    margin-bottom: 4px;
    border: 3px solid #dddddd;
    height: 50px;
    cursor: pointer;
}

.color-token {
    text-align: center;
    width: 50px;
    font-size: 9px;
    min-height: 10px;
    line-height: 10px;
    color: #444444;
    word-break: break-all;
}

.color-token--error {
    color: #ff2222;
}

.color-cell--active {
    border: 3px solid #444444;
}

.color-picker {
    padding: 8px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.color-picker-cell {
    border: 1px solid transparent;
    flex: 0 0 18px;
    margin-right: 4px;
    margin-bottom: 4px;
    height: 18px;
    cursor: pointer;
}

.color-picker-cell:hover {
    border: 1px solid #444444;
}

.token-input-wrapper {
    padding: 8px 0;
}

.token-input {
    padding: 4px 8px;
    font-size: 12px;
    width: 100%;
    outline: 1px solid #444444;
}

.token-input:active {
    
}

.confidence-input {
    padding: 8px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.score-button {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    flex: 0 0 30px;
    margin-right: 4px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #444444;
}

.score-button:hover {
    border: 1px solid #444444;
}

.score-button--active {
    border: 1px solid #444444;
    background-color: #444444;
    color: #ffffff;
}

.pagination {
    display: flex;
    margin: 0 auto;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    flex: 0 0 auto;
    margin: 0 12px;
    border: 1px solid #dddddd;
    padding: 4px 8px;
    font-size: 14px;
    color: #444444;
    cursor: pointer;
}

.pagination-button:hover {
    border: 1px solid #444444;
}

.pagination-text {
    flex: 0 0 auto;
    margin: 0 12px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #444444;
}