<!doctype html>
<html>

<head>
    <title>Color Annotator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='survey.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="title">
            Color Annotation Study
        </div>
        <div class="content">
            Your answers has been successfully submitted to the server!<br />
            Please return to Amazon Mechanical Turk page and enter the code below<br />
        </div>
        <div class="survey-code">
            {{ code }}
        </div>
    </div>            
</body>

</html>