<!doctype html>
<html>

<head>
    <title>Color Annotator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for('static', filename='survey.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="title">
            Color Annotation Study ADMIN: LINK TO SURVEYS
        </div>
        <div class="content">
            {% for filename in links %}
                <a class="survey-link" href="/survey/{{ filename }}">{{ filename }}</a><br />
            {% endfor %}
        </div>
    </div>
</body>

</html>